.review-container {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    background-image: url('../Assets/Bg2.jpeg');
  }
  
  .review-title {
    color: var(--secondary-color);
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
  }

  .review-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .review-item {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .review-form {
    margin-top: 20px;
    padding: 10px 40px 30px 40px;
    margin: 30px 0px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 10px;
  }
  
  #input,
  #textarea,
  #button {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .add-review-btn {
    background-color: #FD3E81;
    color: #fff;
    cursor: pointer;
    max-width: 150px;
    margin-left: 180px;
    border-radius: 5px;
    border-color: white;
  }
  
  .add-review-btn:hover {
    background-color: var(--primary-color);
  }
  
  .delete-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    background-image: url('../Assets/bin.png'); 
    background-size: cover;
    object-fit: cover;
    background-position: center;
  }
  
  .delete-icon:hover {
    opacity: 1;
  }